@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
}

header{
    background-color: #1f2937;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 120px 100px;
}

/* Cabeçalho */
.top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.top p{
    font-size: 24px;
    font-weight: 500;
    color: #F9FAF8;
    margin: 0;
}

.top ul{
    margin: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

.top a{
    text-decoration: none;
    font-size: 15px;
    color: #E5E7EB;
    font-weight: 100;
}


/* Seção Prncipal */
.title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.title-texts{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 10px;

}

.title-texts button{
    width: 100px;
    padding: 6px 0;
    border: none;
    border-radius: 6px;
    background-color: #3882F6;
    color: white;
}

.title-texts button:hover{
    cursor: pointer;
}

.principal-text{
    margin: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.subtitle{
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
}

.title img{
    width: 400px;
    height: 200px;
}

/* Seção Secundária */
.section-images{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0 80px;
}

.section-images img{
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.section-images h2{
    margin-bottom: 50px;
}

.boxes{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box{
    border: solid 4px #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.border{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtext{
    margin: 8px;
    padding: 0;
    width: 150px;
    text-align: center;
    color: rgb(109, 109, 109);
}

/* Frase */
.frase{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    max-width: 100%;
    padding: 100px 100px;
}

.frase p{
    margin: 0;  
}

.box-frase{
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.frase .text{
    font-size: 28px;
    font-weight: 300;
    font-style: italic;
    
}

.autor{
    font-weight: 900;
    align-self: flex-end;
    padding-right: 20px;
}

/* Call Action */
.box-sign{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    max-width: 100%;
    padding: 50px 50px;
}

.content-box-sign{
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
    gap: 100px;
}

.content-box-sign p{
    margin: 0;
    color: white;
}

.content-box-sign .text-bold {
    font-weight: bold;
    font-size: medium;
}

.content-box-sign .text-light {
    font-weight: 200;
    font-size: small;
}

.content-box-sign button{
    margin: 0;
    color: white;
    background-color: #3882F6;
    padding: 5px 25px;
    border: solid 2px white;
    border-radius: 7px;
}

.content-box-sign button:hover{
    cursor: pointer;
    background-color: white;
    color: #3882F6;
}

/* Rodapé */
footer{
    margin: 0;
    background-color: #1f2937;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 13px;
}
